SILO_DATABASE_NAME=silo
SILO_DATABASE_USER=silo_app
SILO_DATABASE_PASSWORD=replace-me
POSTGRES_EU_HOST=db-eu.onsilo.dev
POSTGRES_EU_PORT=25432
POSTGRES_US_HOST=db-us.onsilo.dev
POSTGRES_US_PORT=25432
PGPOOL_NUM_INIT_CHILDREN=16
PGPOOL_MAX_POOL=2
PGPOOL_CHILD_LIFE_TIME=300
PGPOOL_CHILD_MAX_CONNECTIONS=1000
PGPOOL_CONNECTION_LIFE_TIME=1800
